<div class="card bg-light mb-3">
  <div class="card-header">
    <span>
      <%= "@#{review.user.username}" %>
    </span>
  </div>
  <div class="card-body">
    <span style="margin-right: 10px;"><i style="color: #ff7f50;" class="far fa-star"></i></span>
    <span style="font-size: 20px">
      <%= review.rating %>
    </span>/10
    <br>
    <br>
    <div>
      <%= review.content %>
    </div>
  </div>
</div>
