<div class="card bg-light mb-3">
  <div class="card-header">
    <span>
      <%= review.user.username %>
    </span>
  </div>
  <div class="card-body">
    <span style="font-size: 20px">
      <%= review.rating %>
    </span>
    <br>
    <br>
    <div>
      <%= review.content %>
    </div>
  </div>
</div>
