<div class="container">
  <br>
  <div class="row">
    <%= render partial: "football_scores/partials/score_filters" %>
    <div class="col-sm-6">
      <%= render partial: "football_scores/partials/scores" %>
    </div>
  </div>
</div>
