<div class="container">
  <br>
  <div class="row">
    <div class="col-md-3">
      <%= search_form_for @search, :class => 'scores_search' do |f| %>
        <%= f.search_field :home_team_name_or_away_team_name_or_competition_name_cont, placeholder: "search" %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= render partial: "football_scores/partials/scores" %>
    </div>
  </div>
</div>
