<footer class="footer footer-black footer-big text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ml-auto mr-auto ">
        <div class="links ml-auto mr-auto">
          <ul>
            <li>
              <%= link_to "Football Scores", football_scores_path %>
            </li>
            <li>
              <%= link_to "@DuckrevFootball", "https://twitter.com/DuckrevFootball", target: :_blank %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
