
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'login.jpg' %>) ;">
    <div class="container">
      <h1>Be an online pundit</h1>
      <p>Let the lads know how they performed</p>
      <br>
      <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <br>
  <br>
<% end %>

