
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br>
  <div class="container">
    <div class="col-sm-10">
      <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>

<% end %>

